
:root {
    --text-color: #323233;
    --border-color: #ebedf0;
    --active-color: #f2f3f5;
    --background-color: #f7f8fa;
    --background-color-light: #fafafa;

    --el-success: rgba(45, 38, 255, 0.4);
    --el-warning:#E6A23C;
    --el-danger:#F56C6C;
    --el-info:#909399;
}


